#========================================
# <> XRESOURCES <>
#========================================
#----------------------------------------
# -| SXIV |-

Sxiv.background:	#000000

#----------------------------------------
# -| ROFI |-

rofi.terminal:		kitty
#----------------------------------------
# -| CURSOR |-

Xcursor.theme:		Posy's Cursor
#----------------------------------------
